*.user
*.[ao]
*.so
debug
release
[Mm]akefile*
*~
*.bak
*.old
*.tmp
lib
*.pdb
*.obj
examples/fileserver/fileserver
examples/qtscript/qtscript
examples/simple/simple
examples/simplessl/simplessl
tests/tests
